/.settings/
/bin/
/target/
/corenlp/stanford-corenlp-models-current.jar
/corenlp/stanford-english-extra-corenlp-models-current.jar
/corenlp/stanford-english-kbp-corenlp-models-current.jar
/data/google_api_key.txt
/data/openai_api_key.txt
/data/mais conceitos.txt
/data/newconcepts.txt
/cached*.dat
/data/conceitos a explorar.txt
/data/conceitos explorados.txt
/exploredConcepts.dat
/libraries/corenlp/*.jar
/*.tsv
/*.csv
